.text-center{ text-align: center; }
.text-left{ text-align: left; }
.opacity6{ opacity: .6 }
.font-size11{ font-size: 11px;}
.font-size13{ font-size: 13px !important;}
.font-size14{ font-size: 14px }
.margin-b8px{ margin-bottom: 8px; }
.margin-b10px{ margin-bottom: 10px; }
.margin-b11px{ margin-bottom: 11px; }
.margin-r6{ margin-right: 6px; }
.min-w300{ min-width: 300px; }
.d-flex{ display: flex; }
.d-block{ display: block }
.justify-center{ justify-content: center }
.position-top-3{
    position: relative;
    top: -7px;
}
.main-div{
    background-color: white;
    color:#555555;
    box-shadow: 0 0 19px 0 rgb(0 0 0/10%);
    font-family: Arial, sans-serif;
    border-radius: 10px;
    line-height: 26px;
    font-size: 15px;
    width: fit-content;
}
.header-ex{
    background-color: rgba(243, 182, 198, 0.4);
    color: #A40F4EFF;
    font-size: 16px;
    border-radius: 10px 10px 0 0;
    padding: 13px 10px 13px 19px;
    display: flex;
    align-items: center;
    font-weight: bold;
}
.center-box{
    box-shadow: 0 0 19px 0 rgb(0 0 0 / 10%);
    margin: 18px 22px;
    border-radius: 10px;
    padding: 20px 22px;
}
.number{
    background-color: #ffebf3;
    color: #A40F4EFF;
    font-size: 17px;
    width: 25px;
    height: 25px;
    text-align: center;
    border-radius: 100%;
    margin-right: 5px;
}
.btn{
    background-color: #A40F4EFF;
    box-shadow: 0 0 9px 0 rgba(235, 0, 82, 0.29);
    border: 1px solid #A40F4EFF;
    color: white;
    display: block;
    margin: 0 14px;
    padding: 9px 20px;
    border-radius: 98px;
    transition: all 300ms;
}
.btn:hover{
    cursor: pointer;
    box-shadow: 0 0 13px 0 rgba(164, 15, 78, 0.48);
    transition: all 300ms;
}
.arrow{
    align-self: center;
    margin: auto 10px auto 15px;
}
.footer{
    background-color: rgba(243, 182, 198, 0.4);
    color:#444444;
    padding: 10px 10px 0 10px;
    border-radius: 0 0 10px 10px;
}
.package-link{
    justify-content: center;
    align-items: center;
    text-decoration: none;
    cursor: pointer;
    transition: all 300ms;
}
.package-link:hover{
    color: red;
    transition: all 300ms;
}
.package-link span, .explanation{
    margin-top: 2px;
    font-size: 14px;
}

